/* CSS Document */

/* Main Structure_start */
#wrapper{
	width:1024px;
	margin: 0 auto; /* 將版面置中的必要設定！！ */
}
#header{
	width:1024px;
	overflow:hidden;
	margin:0px 0px 5px 0px;
	padding:0px;
	border-bottom:#999 1px solid;
}
#container{
	clear:both;
	width:1024px;
	overflow:hidden;
	margin:0px;
	padding:0px;
}
#footer{
	clear:both; /* 清除block_content和block_module設定的float屬性產生的文繞圖現象！！ */
	width:1024px;
	overflow:hidden;
	text-align:center;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	margin:5px 0px 0px 0px;
	padding:12px 0px 32px 0px;
	border-top:#999 1px solid;
}
/* Main Structure_end */

/* Header_Element_start */
#logo{
	float:left;
	display:inline-block;
	font-size:24px;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	text-shadow:1px 1px 2px #999;
	margin:18px 8px 3px 12px;
	padding:0px;
}
#nav_buttons{
	float:right;
	display:inline-block;
	margin:28px 0 3px 8px;
	padding:0px;
}
#nav_buttons ul{
	float:right;
	display: inline-block;
	margin:0;
	padding:0;
}
#nav_buttons li{
	float:left;
	display:inline-block;
	overflow:hidden;
	font-size:12px;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	margin:0 8px 0 0;
	padding:0 8px 0 0;
	border-right:#000 1px solid;
}
#nav_buttons  li a:link, #nav_buttons  li a:visited{
	font-size:12px;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}
#nav_buttons  li a:hover{
	font-size:12px;
	color: #903;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}
.login_info{
	float:right;
	display:none;
	overflow:hidden;
	font-size:14px;
	color: #006;
	font-family:Verdana, Geneva, sans-serif;
	margin:26px 21px 3px 3px;
	padding:0;
}
/* Header_Element_end */

/* Container_Element_start */
table.table_free_ad{
	width:100%;
	border-collapse:collapse;
}
td.td_border{
	padding:1px 1px 0px 0px;
}
.ad_1cx1r{
	width:203px;
	height:203px;
	overflow:hidden;
	background-color:#FFF;
	margin:0px;
	padding:0px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	box-shadow:1px 1px 2px #999;
	border:#CCC 1px solid;
}
.ad_2cx1r{
	width:408px;
	height:203px;
	overflow:hidden;
	background-color:#FFF;
	margin:0px;
	padding:0px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	box-shadow:1px 1px 2px #999;
	border:#CCC 1px solid;
}
.ad_2cx2r{
	width:408px;
	height:406px;
	overflow:hidden;
	background-color:#FFF;
	margin:0px;
	padding:0px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	box-shadow:1px 1px 2px #999;
	border:#CCC 1px solid;
}
.add_new_ad{
	width:90%;
	font-size:14px;
	color:#333;
	text-align:center;
	margin:88px 6px 6px 8px;
	padding:0px;
}
.add_new_ad a:link, .add_new_ad a:visited{
	font-size:14px;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}
.add_new_ad a:hover{
	font-size:14px;
	color: #903;
	font-family:Verdana, Geneva, sans-serif;
	text-decoration:none;
}

.ad_title_1cx1r{
	width:93%;
	height:35px;
	overflow:hidden;
	font-size:14px;
	color:#333;
	line-height:18px;
	text-align:left;
	margin:6px 6px 3px 8px;
	padding:0 0 3px 0;
	border-bottom:#999 1px dotted;
}
.ad_content_1cx1r{
	width:93%;
	height:52px;
	overflow:hidden;
	font-size:12px;
	color:#333;
	line-height:18px;
	text-align:left;
	margin:3px 6px 3px 8px;
	padding:0px;
}
.ad_picture_1cx1r{
	/* width:185px;
	height:72px; */
	margin:3px 6px 3px 8px;
	padding:0px;
	border:#333 1px solid;
	max-width:185px; /* 最大寬度為500px*/
	width:185px; /* 圖片的大小為500px*/
	width:expression(width>185?\"185px\":width \"px\");max-width: 185px; /* 假如圖片的尺寸超過550象素,那么就按550象素顯示,高度同比例變化;假如圖片的尺寸小于550象素,那么就原尺寸顯示。在IE6中有效*/
	max-height:185px; /* 最大寬度為500px*/
	height:72px; /* 圖片的大小為500px*/
	height:expression(height>72?\"72px\":height \"px\");max-height: 72px; /* 假如圖片的尺寸超過550象素,那么就按550象素顯示,高度同比例變化;假如圖片的尺寸小于550象素,那么就原尺寸顯示。在IE6中有效*/
	max-height:72px; /* 最大寬度為500px*/
	overflow:hidden; /* 超出的部分隱藏，避免控制圖片大小失敗而引起的撐開變形*/ 
}
.ad_ui_1cx1r{
	width:100%;
	height:26px;
	background-image:url(../pictures/backpic_ad_ui.png);
	background-repeat:repeat;
	margin:0px;
	padding:0px;
}
.ad_outter_frame_2cx1r{   /*兩格式廣告的左側文字內容外框*/
	float:left;
	display:inline-block;
	width:185px;
	height:155px;
	overflow:hidden;
	display:inline-block;
	margin:12px 6px 6px 8px;
	padding:0px;
}
.ad_title_2cx1r{
	width:100%;
	height:35px;
	overflow:hidden;
	font-size:14px;
	color:#333;
	line-height:18px;
	text-align:left;
	margin:0px;
	padding:0 0 3px 0;
	border-bottom:#999 1px dotted;
}
.ad_content_2cx1r{
	width:100%;
	height:124px;
	overflow:hidden;
	font-size:12px;
	color:#333;
	line-height:18px;
	text-align:left;
	margin:3px 0 3px 0;
	padding:0px;
}
.ad_picture_2cx1r{
	float:right;
	display:inline-block;
	/* width:185px;
	height:155px; */
	margin:12px 10px 8px 8px;
	padding:0px;
	border:#333 1px solid;
	max-width:185px; /* 最大寬度為500px*/
	width:185px; /* 圖片的大小為500px*/
	width:expression(width>185?\"185px\":width \"px\");max-width: 185px; /* 假如圖片的尺寸超過550象素,那么就按550象素顯示,高度同比例變化;假如圖片的尺寸小于550象素,那么就原尺寸顯示。在IE6中有效*/
	max-height:185px; /* 最大寬度為500px*/
	height:155px; /* 圖片的大小為500px*/
	height:expression(height>155?\"155px\":height \"px\");max-height: 155px; /* 假如圖片的尺寸超過550象素,那么就按550象素顯示,高度同比例變化;假如圖片的尺寸小于550象素,那么就原尺寸顯示。在IE6中有效*/
	max-height:155px; /* 最大寬度為500px*/
	overflow:hidden; /* 超出的部分隱藏，避免控制圖片大小失敗而引起的撐開變形*/ 
	
}
.ad_ui_2cx1r{
	clear:both;
	width:100%;
	height:26px;
	background-image:url(../pictures/backpic_ad_ui.png);
	background-repeat:repeat;
	margin:0px;
	padding:0px;
}
.ad_outter_frame_2cx2r{   /*四格式廣告的左側文字內容外框*/
	width:394px;
	height:362px;
	overflow:hidden;
	display:inline-block;
	margin:12px 6px 6px 8px;
	padding:0px;
}
.ad_title_2cx2r{
	width:388px;
	height:20px;
	overflow:hidden;
	font-size:14px;
	color:#333;
	text-align:left;
	margin:0px 0px 6px 0px;
	padding:0 0 3px 0;
	border-bottom:#999 1px dotted;
}
.ad_content_2cx2r{
	width:388px;
	height:122px;
	overflow:hidden;
	font-size:12px;
	color:#333;
	line-height:18px;
	text-align:left;
	margin:6px 0px 8px 0px;
	padding:0px;
}
.ad_picture_2cx2r{
	/* width:388px;
	height:194px; */
	margin:6px 0px 6px 0px;
	padding:0px;
	border:#333 1px solid;
	
	max-width:388px; /* 最大寬度為500px*/
	width:388px; /* 圖片的大小為500px*/
	width:expression(width>388?\"388px\":width \"px\");max-width: 388px; /* 假如圖片的尺寸超過550象素,那么就按550象素顯示,高度同比例變化;假如圖片的尺寸小于550象素,那么就原尺寸顯示。在IE6中有效*/
	max-height:388px; /* 最大寬度為500px*/
	height:194px; /* 圖片的大小為500px*/
	height:expression(height>194?\"194px\":height \"px\");max-height: 194px; /* 假如圖片的尺寸超過550象素,那么就按550象素顯示,高度同比例變化;假如圖片的尺寸小于550象素,那么就原尺寸顯示。在IE6中有效*/
	max-height:194px; /* 最大寬度為500px*/
	overflow:hidden; /* 超出的部分隱藏，避免控制圖片大小失敗而引起的撐開變形*/ 
}
.ad_ui_2cx2r{
	width:100%;
	height:26px;
	background-image:url(../pictures/backpic_ad_ui.png);
	background-repeat:repeat;
	margin:0px;
	padding:0px;
}
.count_down_area_for_1cx1r{
	float:right;
	display:inline-block;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:bold;
	margin:0px 12px 0px 0px;
	padding:5px 0px 0px 0px;
}
.count_down_area{
	float:right;
	display:inline-block;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#333;
	font-weight:bold;
	margin:0px 12px 0px 0px;
	padding:3px 0px 0px 0px;
}
#func_title{
	width:100%;
	overflow:hidden;
	font-size:18px;
	color:#333;
	font-family:Verdana, Geneva, sans-serif;
	text-shadow:1px 1px 2px #999;
	margin:8px 8px 12px 12px;
	padding:0 0 3px 12px;
	border-bottom:#666 1px dotted;
}
#add_new_ad_area{
	width:500px;
	overflow:hidden;
	background-color:#FFF;
	margin:0 auto;
	padding:12px 12px 21px 12px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	box-shadow:1px 1px 2px #999;
	border:#CCC 1px solid;
}
#join_vip_area{
	width:650px;
	overflow:hidden;
	background-color:#FFF;
	margin:0 auto;
	padding:12px 12px 21px 12px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-o-border-radius:6px;
	-ms-border-radius:6px;
	box-shadow:1px 1px 2px #999;
	border:#CCC 1px solid;
}
/* Container_Element_end */

/* Footer_Element_start */

/* Footer_Element_end */